* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  font-family: "Montserrat", sans-serif;
  font-style: normal;
}

main {
  display: grid;
  grid-template-columns: 260px 1fr;
  height: 100vh;
  width: 100%;
}

.sidebar {
  width: 100%;  /* Remove fixed width for grid */
  height: 100vh;
  background-color: #343A40;
}

.logo {
  margin: 15px 0px;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo > img {
  width: 100px;
}

.profile {
  display: flex;
  justify-content: start;
  align-items: center;
}

.profile > p {
  color: white;
  font-weight: 500;
  font-size: 20pt;
}

.sidebar-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logout {
  color: white;
  text-decoration: none;
  font-size: 14pt;
  font-weight: 500;
}

.container-principal {
  height: auto;
  background-color: #ffffff;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.header {
  width: 100%;
  height: 150px;
  margin-bottom: 12px;
  background-color: #d1d1d1;
}

.content {
  width: 100%;
  height: 100%;
  background-color: #d1d1d1;
  padding: 25px;
}

.content-tarefas {
  width: 100%;
  background-color: aqua;
}

.content-tarefas > h1 {
  color: black;
}